<%- include("partials/header") %>

    <!-- 
        Add labals to the form data and center the whole page if possible and add a bit of graphics if needed for styling
     -->
    <div class="container" style="margin-bottom:9.65em;">
        <h1>تسجيل دخول</h1>


        <form action="/login" method="POST">
            <div class="form-group">
                <input type="text" name="username" placeholder="اسم المستخدم">
            </div>
            <div class="form-group">
                <input type="password" name="password" placeholder="كلمة السر">
            </div>
            <div class="form-group">
                <input class="btn btn-primary btn-md" type="submit" value="تسجيل الدخول">
            </div>
        </form>

        <a href="/campgrounds">ارجع للوراء</a>

    </div>

    <%- include("partials/footer") %>